<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/css/footer.css">

<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
        <div class="row">
            <!-- Coluna de Links -->
            <div class="col-md-4 mb-3">
                <h5 class="fw-bold">Sobre o Blog</h5>
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-white">Sobre mim</a></li>
                    <li><a href="#" class="text-white">Política de Privacidade</a></li>
                    <li><a href="#" class="text-white">Termos de Serviço</a></li>
                </ul>
            </div>
            
            <!-- Coluna de Redes Sociais -->
            <div class="col-md-4 mb-3">
                <h5 class="fw-bold">Entre em contato</h5>
                <ul class="list-unstyled d-flex">
                    <li><a href="#" class="text-white mx-2"><i class="bi bi-envelope"></i></a></li>
                    <li><a href="#" class="text-white mx-2"><i class="bi bi-linkedin"></i></a></li>
                    <li><a href="#" class="text-white mx-2"><i class="bi bi-whatsapp"></i></a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h5 class="fw-bold">Assine nossa Newsletter</h5>
                <p class="text-white mb-2">Receba as últimas novidades, artigos e atualizações diretamente no seu e-mail!</p>
                <form action="#" method="post">
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Seu e-mail" required>
                    </div>
                    <button type="submit" class="btn btn-outline-light w-100">Inscreva-se</button>
                </form>
            </div>
        </div>
        
        <hr class="border-top border-white">

        <div class="text-center">
            <p class="mb-0">&copy; 2024 Nardelli Blog. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>

