<link rel="stylesheet" href="/css/dashboard/sidebar.css">

<body>
    <div class="container p-0">
        <div class="navigation">
            <ul>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                        <span class="title">{{firstName}}</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard">
                        <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                  <li>
                    <a href="/">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/profile">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Perfil</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/feed">
                        <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="title">Feed</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/forum">
                        <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
                        <span class="title">Fórum</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/config">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Configurações</span>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        let list = document.querySelectorAll('.navigation li');
        function activeLink() {
            list.forEach((item) => {
                item.classList.remove('hoverend');
                this.classList.add('hovered');
            });
        }
        list.forEach((item) => {
            item.addEventListener('mouseever', activeLink);
        })
    </script>
</body>
{{!-- <nav id="sidebar">
    <div id="sidebar_content">
        <div id="user">
            <img src="{{user.profile_picture}}" id="user_avatar" alt="Avatar">

            <p id="user_infos">
                <span class="item-description">
                    {{firstName}}
                </span>
                <span class="item-description">
                    Olá, {{firstName}}.
                </span>
            </p>
        </div>

        <ul id="side_items">
            <li class="side-item active">
                <a href="/dashboard">
                    <i class="bi bi-graph-up"></i>
                    <span class="item-description">
                        Dashboard
                    </span>
                </a>
            </li>

            <li class="side-item">
                <a href="/dashboard/profile">
                    <i class="bi bi-person"></i>
                    <span class="item-description">
                        Perfil
                    </span>
                </a>
            </li>

            <li class="side-item">
                <a href="/dashboard/feed">
                    <i class="bi bi-postcard"></i>
                    <span class="item-description">
                        Feed
                    </span>
                </a>
            </li>

            <li class="side-item">
                <a href="/dashboard/forum">
                    <i class="bi bi-people"></i>
                    <span class="item-description">
                        Fórum
                    </span>
                </a>
            </li>

            <li class="side-item">
                <a href="/dashboard/report">
                    <i class="bi bi-file-earmark-bar-graph"></i>
                    <span class="item-description">
                        Relatórios
                    </span>
                </a>
            </li>

            <li class="side-item">
                <a href="/dashboard/config">
                    <i class="bi bi-gear"></i>
                    <span class="item-description">
                        Configurações
                    </span>
                </a>
            </li>
        </ul>

        <button id="open_btn">
            <i id="open_btn_icon" class="bi bi-chevron-right"></i>
        </button>
    </div>

    <div id="logout">
        <button id="logout_btn">
            <i class="bi bi-house"></i>
            <a href="/" class="item-description">
                Início
            </a>
        </button>
    </div>
</nav> --}}