<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/css/dashboard/config.css">

<main>
    <div class="container-FLUID" id="config-container">
        <h2 class="text-center mb-4">Configurações de Perfil</h2>
        <form action="/atualizar-perfil" method="POST" enctype="multipart/form-data" autocomplete="off">

            <div class="col-12 profile-container">
                <img id="perfilPreview" src="{{user.profile_picture}}" alt="Imagem de Perfil" class="profile-img">
                <label for="fileInput" class="upload-icon">
                    <i class="bi bi-camera"></i>
                </label>
                <input type="file" id="fileInput" name="profile_picture" class="file-input" accept="image/*">
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 mb-4">
                    <label for="name" id="name">Nome:</label>
                    <input type="text" class="form-control" id="name" name="name"
                        placeholder="Digite seu nome">
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-4">
                    <label for="email">E-mail:</label>
                    <input type="text" id="email" name="function" class="form-control" placeholder="Digite seu email">
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-4">
                    <label for="function">Função:</label>
                    <input type="text" id="function" name="function" class="form-control"
                        placeholder="Sua função (ex: Estudante, Editor, Leitor)">
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-4">
                    <label for="country">País</label>
                    <input type="text" id="country" name="country" class="form-control"
                        placeholder="Digite seu país de origem">
                </div>

                <div class="mb-4">
                    <label for="bio" class="form-label">Bio:</label>
                    <textarea id="bio" name="bio" rows="6" class="form-control"
                        placeholder="O que você quer que as pessoas saibam sobre você?"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Atualizar Perfil</button>

        </form>
    </div>

</main>