<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/css/dashboard.css">
<script src="/js/dashboard.js" defer></script>

<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="https://github.com/Larissakich/sidebar/blob/main/src/images/avatar.jpg?raw=true"
                    id="user_avatar" alt="Avatar">

                <p id="user_infos">
                    <span class="item-description">
                        Fulano de Tal
                    </span>
                    <span class="item-description">
                        Lorem Ipsum
                    </span>
                </p>
            </div>

            <ul id="side_items">
                <li class="side-item active">
                    <a href="#">
                        <i class="bi bi-graph-up"></i>
                        <span class="item-description">
                            Dashboard
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                        <i class="bi bi-person"></i>
                        <span class="item-description">
                            Perfil
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                       <i class="bi bi-postcard"></i>
                        <span class="item-description">
                            Feed
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                        <i class="bi bi-people"></i>
                        <span class="item-description">
                            Fórum
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                        <i class="bi bi-file-earmark-bar-graph"></i>
                        <span class="item-description">
                            Relatórios
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                        <i class="bi bi-gear"></i>
                        <span class="item-description">
                            Configurações
                        </span>
                    </a>
                </li>
            </ul>

            <button id="open_btn">
                <i id="open_btn_icon" class="bi bi-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="bi bi-box-arrow-right"></i>
                <a href="/" class="item-description">
                    Logout
                </a>
            </button>
        </div>
    </nav>
    <main>
        <div class="container" id="container-main">
            <div class="content">
                <div class="content-header">
                    <h3>Bem-vindo ao Painel de Controle</h3>
                    <p>Gerencie sua conta e postagens aqui.</p>
                </div>

                <!-- Cards principais -->
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Visão Geral</h5>
                                <p class="card-text">Acompanhe o desempenho do seu blog, número de visitantes e mais.
                                </p>
                                <a href="#" class="btn btn-primary">Ver Relatórios</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Postagens Recentes</h5>
                                <p class="card-text">Gerencie suas postagens mais recentes.</p>
                                <a href="#" class="btn btn-primary">Ver Postagens</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Configurações</h5>
                                <p class="card-text">Ajuste as preferências do seu perfil e blog.</p>
                                <a href="#" class="btn btn-primary">Alterar Configurações</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Estatísticas do Blog</h5>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>