body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right, #e0f7fa, #4e73df);
}

main {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #4f46e5;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

a.item-description {
    text-decoration: none;
    color: #0a0a0a;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

#container-main {
    margin-left: 10px;
}

/* profile */

.profile-header {
    background-color: #4e73df;
    color: #fff;
    padding: 50px 0;
    border-radius: 8px 8px 0 0;
}

.profile-header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.profile-header p {
    font-size: 1.2rem;
    font-weight: 300;
}

.profile-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-top: -50px;
}

.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-card h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #4e73df;
}

.profile-card p {
    font-size: 1rem;
    color: #6c757d;
}

.list-group-item {
    border: none;
    padding: 12px 0;
    font-size: 1.1rem;
}

.list-group-item strong {
    color: #333;
}

/* Efeito de hover nas informações do perfil */
.list-group-item:hover {
    background-color: #f1f1f1;
    transition: 0.3s;
}

.btn-custom {
    background-color: #4e73df;
    color: #fff;
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-custom:hover {
    background-color: #2e59d9;
}

@media (min-width: 768px) {
    #container-main {
        margin-left: 20px;
    }
}

@media (min-width: 320px) and (max-width: 600px)  {
    main {
        padding: 20px;
        position: fixed;
        z-index: 1;
        padding-left: calc(82px + 20px);
    }
}